/* .album {
  border: 5px solid rgb(140, 9, 173);
  width: 95%; 
  height: 10%; 
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box; 
  overflow: hidden;
  cursor: pointer;
  color: black;
} */
.album {
  border: 5px solid rgb(140, 9, 173);
  width: 95%; 
  height: 10%;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure space between items */
  color: white; /* Ensure text color is white for visibility */
}

.album h3 {
  margin: 0; /* Remove default margin */
  flex-grow: 1; /* Allow h3 to grow and take available space */
  text-align: left; /* Align text to the left */
}

.del {
  height: 60%;
  width: 10%;
  margin-left: 70%;
  display: flex; /* Ensure it's a flex container for better alignment */
  align-items: center; /* Center the delete icon vertically */
  justify-content: center; /* Center the delete icon horizontally */
}

.del img {
  width: 70px; /* Adjust width as needed */
  height: 70px; /* Adjust height as needed */
  object-fit: contain;
}
